#sidebar {
    backdrop-filter: blur(2px);
    text-shadow: .5px 0.5px 0.5px black;
}

#main {
    opacity: 0.95;
    font-family: math;
    background-color: #ffffffc0;
}

#main h1 {
    font-size: 2.5rem;
    font-family: math;
    line-height: 1.3em;
    font-weight: 400;
    -webkit-text-stroke: 0.3px #97626b66;
}

#cover {
    backdrop-filter: brightness(0.2);
}

.main-content-wrap {
    max-width: 60vw;
    padding-left: 0;
    padding-right: 0;
}

.post-header-cover {
    max-height: 36vh;
}


@media only screen and (min-width: 1280px) {
    #main[data-behavior="1"] {
        padding-top: 0;
    }

    #main[data-behavior="1"] .main-content-wrap {
        padding-top: 15px;
    }

    #sidebar[data-behavior="1"], #sidebar[data-behavior="4"] {
        width: 420px;
    }

    #main[data-behavior="1"] {
        width: calc(100% - 420px);
    }

    #header[data-behavior="4"].pushed, #main[data-behavior="4"].pushed {
        transform: translate3d(420px,0,0)
    }

    #header[data-behavior="4"] .header-right-picture.pushed {
        transform: translate3d(-420px,0,0);
    }

    .post-header-cover .post-header .post-title {
        font-size: 5rem;
        line-height: 1.3em;
    }
}

.postShorten-group .postShorten {
    padding: 15px;
    background-color: #e9e8e8a0;
}

.postShorten-excerpt p {
    margin-bottom: 0;
}

@media only screen and (min-width: 480px) {
    .postShorten.postShorten--thumbnailimg-left .postShorten-thumbnailimg {
        margin: 5px 15px 15px 0;
    }
    .postShorten.postShorten--thumbnailimg-right .postShorten-thumbnailimg {
        margin: 5px 0 15px 15px;
    }

    .postShorten.postShorten--thumbnailimg-right .postShorten-thumbnailimg img {
        width: 192px;
        height: 192px;
    }

    .postShorten.postShorten--thumbnailimg-right .postShorten-wrap {
        float: left;
        width: calc(100% - 192px - 20px);
    }
}

.postShorten .postShorten-meta {
    font-size: 1.4rem;
}

.postShorten .postShorten-meta a {
    background-color: #e3d3e9a0;
    color: #9e6bb3;
    padding: 0 5px;
    border-radius: 5px;
}

.postShorten .postShorten-meta a:hover {
    background-color: #e0e0ffc0;
    color: #9e9ba3;
}

.postShorten .postShorten-excerpt {
    margin-top: 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6e0f0bb;
    border-radius: 14px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.postShorten.postShorten--thumbnailimg-right .postShorten-thumbnailimg:hover {
    margin: 0;
    width: 197px;
    height: 212px;
}

.postShorten-thumbnailimg img:hover {
    transform: translate(0,1.5px) rotate(2.5deg) scale(1.2);
    transition: all .25s ease-out,border .25s ease-out,opacity .25s ease-out;;
}

.codeblock {
    background: #f7f8f8dd;
}

hr {
    border-top-width: 2px;
    border-top-color: #56565656;
}