#sidebar {    
    backdrop-filter: blur(2px);
    text-shadow: .5px 0.5px 0.5px black;
}

#main {
    opacity: 0.95;
}

.post-header-cover {
    max-height: 36vh;
}

.post-title {
    backdrop-filter: blur(2px);
}